.product {
  @include flexPosition(center);
  gap: 30px;
  margin-bottom: 128px;

  &__link__img {
    object-fit: cover;
    width: 360px;
  }
  &__link__header {
    @include fontStyle(#000, 13px, 400);
    margin-top: 24px;
    margin-bottom: 16px;
  }
  &__link__dsc {
    @include fontStyle(#5d5d5d, 14px, 300);
    margin-bottom: 16px;
  }
  &__link__price {
    @include fontStyle(#f16d7f, 16px, 400);
  }
}
