.advantages {
  @include flexPosition(center, row);
  min-height: 341px;
  background-color: #222224;
  grid-column: 30px;
  gap: 30px;
  &__item {
    @include flexPosition(center, column, wrap);
  }
  &__title {
    @include fontStyle(#fbfbfb, 19.96px, 400);
  }
  &__text {
    @include fontStyle(#fbfbfb, 13.972px, 300);
    text-align: center;
  }
  &__title__wrap {
    margin-bottom: 16px;
    text-align: center;
  }
}

.img_delivery {
  aspect-ratio: 1 / 1;
  margin-bottom: 28px;
  text-align: center;
}
