.footer {
  @include flexPosition(space-between, row);
  background-color: #222224;

  .icon__link {
    @include flexPosition(row);
    gap: 6px;
    margin-top: 24px;
    padding-bottom: 23px;
  }
  .icon__link__block {
    padding: 8px;
    background-color: #fff;
    width: 31.451px;
    height: 32px;
    display: flex;
  }

  .icon__link__block:hover {
    opacity: 0.5;
    filter: alpha(opacity=50);
  }

  .brand {
    margin-top: 30px;
    .brand-text {
      @include fontStyle(#fbfbfb, 16px, 400);
    }
  }
}
