.info_product {
  @include flexPosition(center);
  text-align: center;
  position: relative;
  margin-bottom: 665px;

  &__block {
    top: -67px;
    padding-bottom: 64px;
    position: absolute;
    z-index: 10;
    border: 1px solid #eaeaea;
    width: 1140px;
    height: 600.177px;
    background-color: white;
  }

  &__collection {
    @include fontStyle(#f16d7f, 14px, 300);
    padding-top: 64px;
    margin-bottom: 14px;
  }
  &__devider_1 {
    width: 63px;
    height: 3.025px;
    color: #ef5b70;
    text-align: center;
    margin-bottom: 12px;
    margin: auto;
  }
  &__name {
    @include fontStyle(#4d4d4d, 18px, 300);
    margin-bottom: 48px;
    margin-top: 12px;
  }
  &__subscription {
    @include fontStyle(#5e5e5e, 14px, 300);
    text-align: center;
    margin-bottom: 32px;
  }
  &__price {
    @include fontStyle(#ef5b70, 24px, 300);
  }
  &__devider_2 {
    margin-bottom: 65px;
    width: 641px;
    stroke-width: 1px;
    stroke: #eaeaea;
    margin: auto;
    margin-top: 65px;
    margin-bottom: 65px;
  }
  &__option {
    @include flexPosition(center);
    margin-bottom: 48px;
    gap: 48px;
    .option {
      @include fontStyle(#6f6e6e, 14px, 400);
      list-style-type: none;
    }
    .option::after {
      content: url(img/Vector.png);
      margin-left: 9px;
    }
  }
  &__add {
    width: 212px;
    height: 48.406px;
    border: 1px solid #ff6a6a;
    background-color: white;
    .cart_name {
      @include fontStyle(#f26376, 16px, 400);
    }
    .cart_img {
      color: #ef5b70;
      width: 26.012px;
      height: 24.203px;
      margin-right: 22px;
    }
  }
}
