.promo__img {
  width: 50%;
}

.promo {
  display: flex;
  background: #f1e4e6;
  margin-bottom: 64px;
}
.promo__content {
  padding-left: 64px;
}

.promo__info {
  border-left: 12px solid #f16d7f;
  padding-left: 16px;
  margin-top: 48%;
}

.promo__title {
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  color: #222222;
}
.promo__heading {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  color: #222222;

  &_fashion {
    color: #f16d7f;
  }
}
