@mixin fontStyle(
  $color,
  $font-size,
  $font-weight,
  $font-style: normal,
  $line-height: normal
) {
  color: $color;
  font-size: $font-size;
  font-style: $font-style;
  font-weight: $font-weight;
  line-height: $line-height;
}

@mixin flexPosition($justify-content:none, $flex-direction:none, $flex-wrap:nowrap) {
  display: flex;
  justify-content: $justify-content;
  flex-direction: $flex-direction;
  flex-wrap: $flex-wrap;
}
