.registration {
  display: flex;
  flex-direction: row;
  gap: 128.51px;
  padding-top: 64px;
  padding-bottom: 96px;

  &-form {
    @include flexPosition($flex-direction: column);
  }

  &-form__title {
    margin-bottom: 20px;
    @include fontStyle(#222, 16px, 300);
  }

  &-form__input {
    margin-bottom: 20px;
    width: 360px;
    height: 45px;
    padding: 12.5px 277.35px 15.5px 16.73px;
  }
  &-form__input:hover {
    transform: scale(1.1);
  }
  &-text {
    margin-top: 15px;
    margin-bottom: 39px;
    @include fontStyle(#b1b1b1, 13px, 300);
  }
  &-btn {
    background-color: #f16d7f;
    width: 167px;
    height: 50px;
    border: none;
    @include fontStyle(#fff, 14px, 400);
    @include flexPosition(center);
    align-items: center;
    gap: 20px;

    &__icon {
      padding-left: 20.08px;
    }
  }

  &-right {
    @include fontStyle(#000, 24px, 300);
    &__title {
      margin-bottom: 22px;
    }
    &__desc {
      margin-bottom: 21px;
    }
    &__item {
      margin-bottom: 16px;
    }
    &__item::before {
      content: '';
      display: inline-block;
      margin-right: 23px;
      width: 20px;
      height: 16px;
      background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="16" viewBox="0 0 20 16" fill="none"><path d="M19.8035 0H18.0904C17.8502 0 17.6222 0.111827 17.4752 0.303176L7.3702 13.2826L2.52481 7.05754C2.45151 6.96318 2.35808 6.88688 2.25153 6.83438C2.14499 6.78187 2.0281 6.75451 1.90963 6.75437H0.196467C0.032258 6.75437 -0.0584248 6.94572 0.0420614 7.07494L6.75503 15.6981C7.06874 16.1006 7.67166 16.1006 7.98782 15.6981L19.9579 0.318087C20.0584 0.191349 19.9677 0 19.8035 0Z" fill="black"/></svg>');
    }
    &__list {
      list-style-type: none;
    }
  }
}
.checkbox-wrap {
  @include flexPosition($flex-direction: row);
  margin-top: 31px;
  margin-bottom: 33px;
  gap: 20px;

  &__input {
    padding-top: 11px;
    padding-bottom: 11px;
  }

  &__label {
    @include fontStyle(#000, 11px, 300);
  }

  &__radio {
    display: none;
  }
  &__radio + label::before {
    content: '';
    display: inline-block;
    width: 17px;
    height: 17px;
    box-sizing: border-box;
    border-radius: 50%;
    margin-right: 10px;
    border: 1px solid #a4a4a4;
  }

  &__radio:checked + label::before {
    background-color: #f16d7f;
    border: 1px solid white;
    outline: 1px solid #f16d7f;
  }
}
