.header {
  height: 75px;
  background-color: #222;
  @include flexPosition(space-between, row, wrap);
  align-items: center;

  &__left {
    display: flex;
    align-items: center;
    gap: 41px;
  }
  &__right {
    display: flex;
    align-items: center;
    gap: 33px;
  }

  &__checkbox {
    position: absolute;
    display: none;
  }

  &__link-site:hover {
    transform: scale(1.2);
  }
}

#header__check:checked ~ .mobile-menu {
  transform: scale(1);
}

#header__check:not(:checked) ~ .mobile-menu {
  transform: scale(0);
}
.mobile-menu {
  position: absolute;
  top: 75px;
  right: 0px;
  z-index: 1;
  transition: right 0.6s;
  min-width: 232px;
  background: #ffffff;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  padding: 32px;
  box-sizing: border-box;
  &__heading {
    @include fontStyle(#000, 14px, 700);
  }
  &__title {
    @include fontStyle(#f16d7f, 14px, 400, $line-height: 17px);
  }
  &__list {
    @include flexPosition($flex-direction: column);
    list-style-type: none;
    padding-left: 21px;
    gap: 11px;
    margin-top: 12px;
  }
  &__link {
    @include fontStyle(#6f6e6e, 14px, 400, $line-height: 17px);
  }
}
