* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none !important;
}

.center {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

.header {
  height: 75px;
  background-color: #222;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}
.header__left {
  display: flex;
  align-items: center;
  gap: 41px;
}
.header__right {
  display: flex;
  align-items: center;
  gap: 33px;
}
.header__checkbox {
  position: absolute;
  display: none;
}

#header__check:checked ~ .mobile-menu {
  transform: scale(1);
}

#header__check:not(:checked) ~ .mobile-menu {
  transform: scale(0);
}

.mobile-menu {
  position: absolute;
  top: 75px;
  right: 0px;
  z-index: 1;
  transition: right 0.6s;
  min-width: 232px;
  background: #ffffff;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  padding: 32px;
  box-sizing: border-box;
}
.mobile-menu__heading {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.mobile-menu__title {
  color: #f16d7f;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
}
.mobile-menu__list {
  display: flex;
  justify-content: none;
  flex-direction: column;
  flex-wrap: nowrap;
  list-style-type: none;
  padding-left: 21px;
  gap: 11px;
  margin-top: 12px;
}
.mobile-menu__link {
  color: #6f6e6e;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
}

.product {
  gap: 30px;
  margin-bottom: 128px;
  display: grid;
  grid-template-columns: repeat(3, 33%);
  grid-template-rows: repeat(3, 33%);
}
.product__div__img1 {
  background: transparent url(img/bg-img.png) no-repeat;
  width: 360px;
  height: 420px;
  display: flex;
  justify-content: center;
  padding-top: 9px;
}
.product__div__img2 {
  background: transparent url(img/item2.png) no-repeat;
  position: absolute;
  width: 141.943px;
  height: 400px;
}
.product__link__header {
  color: #000;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 24px;
  margin-bottom: 16px;
}
.product__link__dsc {
  color: #5d5d5d;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  margin-bottom: 16px;
}
.product__link__price {
  color: #f16d7f;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.advantages {
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-height: 341px;
  background-color: #222224;
  grid-column: 30px;
  margin-bottom: 97px;
  gap: 30px;
}
.advantages__item {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}
.advantages__title {
  color: #fbfbfb;
  font-size: 19.96px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.advantages__text {
  color: #fbfbfb;
  font-size: 13.972px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-align: center;
}
.advantages__title__wrap {
  margin-bottom: 16px;
  text-align: center;
}

.img_delivery {
  aspect-ratio: 1/1;
  margin-bottom: 28px;
  text-align: center;
}

.subscribe {
  background-image: url(img/Rectangle\ 26.png);
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 327px;
}
.subscribe__left {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
  text-align: center;
  padding-top: 97px;
  gap: 30px;
}
.subscribe__left__p {
  width: 359.449px;
  height: 99px;
}
.subscribe__left__p__txt {
  color: #222224;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}
.subscribe__right {
  padding-top: 150px;
}
.subscribe__right__title {
  color: 222224;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  margin-bottom: 27px;
  width: 557px;
  height: 61px;
}
.subscribe__right__form:hover {
  transform: scale(1.1);
}
.subscribe__right__form {
  display: flex;
  justify-content: center;
  flex-direction: none;
  flex-wrap: nowrap;
}
.subscribe__right__form input {
  color: #222224;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  outline: none;
  border: none;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  width: 256px;
  text-align: center;
}
.subscribe__right__form .submit-email {
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  background-color: #f16d7f;
  border: none;
  width: 100px;
  height: 49px;
}

.footer {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: #222224;
}
.footer .icon__link {
  display: flex;
  justify-content: row;
  flex-direction: none;
  flex-wrap: nowrap;
  gap: 6px;
  margin-top: 24px;
  padding-bottom: 23px;
}
.footer .icon__link__block {
  padding: 8px;
  background-color: #fff;
  width: 31.451px;
  height: 32px;
  display: flex;
}
.footer .brand {
  margin-top: 30px;
}
.footer .brand .brand-text {
  color: #fbfbfb;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

a {
  text-decoration: none;
}

.top_head {
  display: flex;
  justify-content: space-between;
  flex-direction: none;
  flex-wrap: nowrap;
  padding-top: 59px;
  padding-bottom: 60px;
  background-color: #f8f3f4;
}
.top_head__link {
  color: #f16d7f;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.breadcrumbs__link {
  color: #636363;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.breadcrumbs__link__new {
  color: #f16d7f;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.filter {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding-top: 51px;
  padding-bottom: 64px;
  gap: 48px;
  position: relative;
}
.filter__name {
  color: #6f6e6e;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  list-style-type: none;
}
.filter__name::after {
  content: url(img/Vector.png);
  margin-left: 10px;
}
.filter__title::after {
  content: url(img/filter_icon.png);
}
.filter__title {
  list-style-type: none;
  width: 340px;
  display: flex;
  gap: 5px;
  margin-bottom: 38px;
}
.filter__menu__link__box {
  position: relative;
}
.filter__menu__link {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  z-index: 10;
  background: #fff;
  position: absolute;
}
.filter__menu__link[open] summary {
  color: #ef5b70;
}
.filter__menu__link:hover {
  color: #ef5b70;
}
.filter__name__box {
  display: flex;
  gap: 48px;
}

.category {
  color: #6f6e6e;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.category[open] summary {
  color: #ef5b70;
}
.category__name {
  list-style-type: none;
  display: flex;
  gap: 8px;
  border-bottom: 1px solid #ebebeb;
  align-items: center;
}
.category__list {
  display: flex;
  justify-content: none;
  flex-direction: column;
  flex-wrap: nowrap;
  list-style: none;
  padding: 24px 17px 6px;
}
.category__list a {
  color: #6f6e6e;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.size_box {
  background: #fff;
  box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.21);
  position: absolute;
  margin-top: 5px;
  min-width: 79px;
  z-index: 10;
  padding: 9px;
}
.size_box-item {
  display: flex;
  gap: 10px;
}

.size_box-item:not(:disabled):active + label::before {
  background-color: #b3d7ff;
  border-color: #b3d7ff;
}

.pagination {
  display: flex;
  justify-content: center;
  flex-direction: none;
  flex-wrap: nowrap;
  margin-bottom: 96.5px;
  gap: 17px;
}
.pagination__left__arrow {
  border: none;
  background-color: #fff;
}
.pagination__right__arrow {
  border: none;
  background-color: #fff;
}
.pagination__num__box {
  display: flex;
  justify-content: none;
  flex-direction: none;
  flex-wrap: nowrap;
  text-align: center;
  gap: 15px;
  padding-top: 5px;
}
.pagination__num {
  color: #c4c4c4;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.pagination__num__box a:hover {
  background-color: rgba(244, 244, 244, 0.6980392157);
}/*# sourceMappingURL=style.css.map */