* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  padding-left: 16px;
  margin: 0 auto;
}

.top_content {
  display: flex;
  justify-content: center;
  column-gap: 30px;
  padding-left: 364px;
  padding-right: 359px;
  padding-top: 105px;
  padding-bottom: 95px;
  margin-bottom: 15px;
  margin-bottom: 15px;
  width: 1915px;
  height: 491px;
}

.item_top {
  padding-left: 41px;
  margin-bottom: 25px;
  padding-top: 35px;
  width: 381px;
  height: 291px;
}

.middle {
  background: #fff;
  box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.06);
}

.heading {
  color: #000;
  font-family: Gilroy-Bold;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.title,
.title2 {
  color: #666;
  font-family: Gilroy-Regular;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 22.5px */
}

a {
  color: #000;
  font-family: Gilroy-Bold;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 16.5px */
}

.content {
  margin-bottom: 21px;
  padding-left: 223px;
  padding-right: 257px;
  padding-bottom: 21px;
  padding-top: 92px;
  width: 1920px;
  height: 919px;
  flex-shrink: 0;
  background: #fafafa;
}

.headline {
  margin-bottom: 19px;
  text-align: center;
}

.title2 {
  text-align: center;
}

.wrapper {
  width: 1440px;
  height: 616px;
  display: flex;
  width: 1440px;
  height: 616px;
  display: flex;
  justify-content: space-between;
  column-gap: 30px;
  justify-items: center;
  padding-left: 118px;
  padding-right: 152px;
  padding-top: 24px;
  padding-bottom: 43px;
}

.item {
  width: 370px;
  height: 549px;
  flex-shrink: 0;
  background: #fff;
}
